<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751630480364-itqhl48bgep470suuq0a285ts68b5qr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751630480364-itqhl48bgep470suuq0a285ts68b5qr8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2J_BWmontL_wRfAOUHjom7xA1ODhJa44</string>
	<key>GCM_SENDER_ID</key>
	<string>751630480364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesleydashner.Jumpy-Ball</string>
	<key>PROJECT_ID</key>
	<string>hoppy-ball</string>
	<key>STORAGE_BUCKET</key>
	<string>hoppy-ball.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751630480364:ios:e67ad196c83e5b43</string>
	<key>DATABASE_URL</key>
	<string>https://hoppy-ball.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4988685536796370~4452502012</string>
</dict>
</plist>